<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
  <system>
    
    <tab id="jbpcustomer" translate="label" sortOrder="10" class="jbpcustomer">
	  <label>JBP Customer</label>
	</tab>
	
    <section id="jbp_configuration" translate="label" type="text" sortOrder="2000" showInDefault="1" showInWebsite="1" showInStore="1">
      
      <label>Configurations</label>
      
      <tab>jbpcustomer</tab>
      
      <resource>Jbp_Customer::config</resource>
      
      <group id="general" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
      
        <label>General</label>
      
	    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
		    <label>Enable</label>
		    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
		</field>
      
        <field id="dob_show" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>Show Date of Birth</label>
            <source_model>Jbp\Customer\Model\Config\Source\Customer</source_model>
            <depends>
                <field id="active">1</field>
            </depends>
        </field>
                        
        <field id="gender_show" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>Show Gender</label>
            <source_model>Jbp\Customer\Model\Config\Source\Customer</source_model>
            <depends>
                <field id="active">1</field>
            </depends>            
        </field>
        
      </group>
      
    </section>
            
  </system>
</config>